<br />
<br />
<br />
<div class="col-10 offset-1">
  <% @datasets.each do |dataset| %>
  <div class=" text-center inset-box">

    <h1><%= link_to dataset.title, dataset_path(dataset) %></h1>
    <ul>
      <li><%= dataset.description %></li><br />
      <li>Number of Channels: <%= dataset.channels %></li><br />
      <li>Samples Per Second: <%= dataset.sps %></li><br />
      <% if dataset.share == true %>
        <li>Private:  No</li>
        <br />
      <% else %>
        <li>Private:  Yes</li>
      <% end %>
        <li>ID:  <%= dataset.id %></li>
      <% if dataset.user.present? %>
        <li><small><%= dataset.user.email %></small></li>
      <% end %>
    </ul>
  </div>
  <hr />
<% end %>
  
</div>
<br />
<br />
<br />