<br />
<div class="col-10 offset-1">
  <div class="text-center inset-box">
    <h1><%= @dataset.title %></h1>
    <ul>
      <li><%= @dataset.description %></li><br />
      <li>Number of Channels: <%= @dataset.channels %></li><br />
      <li>Samples Per Second: <%= @dataset.sps %></li><br />
      <% if @dataset.share == true %>
        <li>Private:  No</li>
      <% else %>
        <li>Private:  Yes</li>
      <% end %>
        <li>ID:  <%= @dataset.id %></li>
      <% if @dataset.user.present? %>
        <li><small><%= @dataset.user.email %></small></li>
      <% end %>
    </ul>
  </div>
  <br />
  <% @dataset.channels.times do |ch| %>
    <% present = false %>
    <% @dataset.datum.each do |datum|%>
      <% if datum.channel == (ch + 1) %>
        <% present = true %>  
      <% end %>
    <% end %>

    <% if present != true %>
      <div class="text-center inset-box">
        <h1>Channel <%= ch + 1 %></h1>
        <%= simple_form_for @datum, url:dataset_datas_path(@dataset) do |f| %>
            <br />
            <div class="col-10 offset-1">
              <%= f.input :name %>

              <span id="gone"><%= f.input :channel, :input_html => { :value => ch + 1 } %></span>
          </div>
            <%= f.submit 'Add Channel Data', class: 'btn btn-sm raised-box' %>
        <% end %>
      </div>
      <br />
    <% end %>
  <% end %>

  <% testDatum = [] %>

  <% @dataset.datum.count do |i| %>
    <% puts @dataset.datum[i] %>
  <% end %>


  <% @dataset.datum.each do |datum| %>
    <% testDatum << datum %>
  <% end %>


  <% @dataset.datum.each do |datum| %>
    <div class="inset-box text-center">
      <h1><%= link_to datum.name, dataset_data_path(:id => datum.id, :dataset_id => @dataset.id) %></h1>
      
      <h1>Channel: <%= datum.channel %></h1>
      
     </div>
     <br />
  <% end %>
</div>